<style type="text/css">
    venue-list .md-subheader, event-list .md-subheader, offer-list .md-subheader {
        border-bottom: 1px solid #2C98CA;
    }
    .offer-filter-box{
        height: 60px;
    }
    .offer-cat-btn{
        width: 100px;
        height: 40px;
        -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.67);
        -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.67);
        box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.67);
        border:none;
        border-radius: 25px;
        background-color: white;
        color: black;
        text-transform: none;
        font-weight: bold;
        margin-left: 5px;
        margin-right: 5px;
    }
    .offer-cat-btn.active{
        background-color: #ffffff;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    .md-focused{
        background-color: none;
    }

</style>
<nav-menu></nav-menu>
<div class="swipe-content-wrapper">
    <div ng-repeat="day in days" class="swipe-content" ng-class="{'swipe-content-active': selectedDay == day.day, 'swipe-content-left': isNextLeft(selectedDay, day.day), 'swipe-content-right': isNextRight(selectedDay, day.day)}">
        <md-list>
            <md-subheader class="md-no-sticky no-padding">
                <div layout-align="center center" layout="row">
                    <md-button ng-click="prevDay()">
                        <md-icon class="material-icons">keyboard_arrow_left</md-icon>
                    </md-button>
                    {{day.name}}
                    <md-button ng-click="nextDay()">
                        <md-icon class="material-icons">keyboard_arrow_right</md-icon>
                    </md-button>
                </div>
                <div style="position: absolute; top: 0; right: 0; padding: 12px;">
                    <md-icon class="material-icons" ng-click="openFilter()">filter_list</md-icon>
                </div>
            </md-subheader>
            <md-subheader class="md-no-sticky no-padding offer-filter-box" ng-if="isShowFilter">
                <div layout-align="center center" layout="row">
                    <span ng-repeat="category in categories">
                        <button ng-if="category.isSelected"  class="offer-cat-btn active" ng-click="selCategory($index)">{{category.DisplayName}}</button>
                        <button ng-if="!category.isSelected"  class="offer-cat-btn" ng-click="selCategory($index)">{{category.DisplayName}}</button>    
                    </span>
                </div>
            </md-subheader>
            <offer-list-item data-offer="offer" ng-repeat="offer in day.data" swipe-text="Saved" swipe-icon="saved" swipe-action="addToFavourites(offer)">
            </offer-list-item>
            <md-list-item class="md-3-line list-divided" ng-if="!day.data">
                    <div class="md-list-item-text" layout-padding>
                <p>Loading...</p>
                    </div>
            </md-list-item>
            <md-list-item class="md-3-line list-divided" ng-if="day.data && day.data.length == 0">
                    <div class="md-list-item-text" layout-padding>
                <p>No offers found.</p>
                    </div>
            </md-list-item>
        </md-list>
    </div>

</div>