<style type="text/css">
    .ng-scope{
        height: 100%;    
    }
    .pub_bg {
        background-image: url(images/pub_bg_1.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

.pub_top_header {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    top: 0;
    text-align: center;
    color: #FFF;
}

.pubhub_logo img {
    max-width: 100px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.hvcenter {
    position: relative;
    width: 100%;
    height: 100%;
}

    .hvcenter .middle_box {
        background: rgba(44, 152, 202, 0.5);
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        max-width: 1280px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

.cleardiv {
    clear: both;
}

.icon_box {
    width: 33%;
    float: left;
    text-align: center;
}

.menu_icons img {
    max-width: 50px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.menu_icons p {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.050em;
    margin: 5px !important;
    color: #FFF;
    text-decoration:none;
}
.mb20 {margin-bottom:20px;}



.venues_icon p {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.050em;
    margin: 5px !important;
    color: #FFF;
}


.pub_footer {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    bottom: 0;
    text-align: center;
    color: #FFF;
}

.footer_pic img {
    max-width: 70px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius:100%;
}

/*.footer_pic p {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.050em;
    margin: 5px 5px 10px 5px !important;
}*/
.footer_fb img {
    max-width: 50px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius:100%;
}

/*.footer_fb p {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.050em;
    margin: 5px 5px 10px 5px !important;
}*/

.footer_pic {
  position: relative;
}
.footer-facebook-login-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  width: 263px;
}
.facebook-login-left {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5274af+0,486499+59,3f5881+100 */
  background: rgb(82,116,175); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(82,116,175,1) 0%, rgba(72,100,153,1) 59%, rgba(63,88,129,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(82,116,175,1) 0%,rgba(72,100,153,1) 59%,rgba(63,88,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(82,116,175,1) 0%,rgba(72,100,153,1) 59%,rgba(63,88,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5274af', endColorstr='#3f5881',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-align: center;
  font-size: 27px;
  padding: 5px 10px 2px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #2b4b7f;
  border-right: none;
  float: left;
}
.facebook-login-right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5274af+0,486499+59,3f5881+100 */
  background: rgb(82,116,175); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(82,116,175,1) 0%, rgba(72,100,153,1) 59%, rgba(63,88,129,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(82,116,175,1) 0%,rgba(72,100,153,1) 59%,rgba(63,88,129,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(82,116,175,1) 0%,rgba(72,100,153,1) 59%,rgba(63,88,129,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5274af', endColorstr='#3f5881',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-align: center;
  /*font-size: 27px;*/
  padding: 3px 10px 2px;
  border-radius: 0 4px 4px 0;
  border: 1px solid #2b4b7f;
  letter-spacing: 2px;
  float: left;
}
.facebook-login-text {
  text-transform: none;
  margin-bottom: -29px;
  letter-spacing: 1px;
  line-height: 23px;
  padding-bottom: 0;
}
.facebook-profile-pic {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 5px solid #333333;
}
.after-login-facebook-icon {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4e69a2+0,44609d+62,3a5897+100 */
  background: rgb(78,105,162); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(78,105,162,1) 0%, rgba(68,96,157,1) 62%, rgba(58,88,151,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(78,105,162,1) 0%,rgba(68,96,157,1) 62%,rgba(58,88,151,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(78,105,162,1) 0%,rgba(68,96,157,1) 62%,rgba(58,88,151,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e69a2', endColorstr='#3a5897',GradientType=0 ); /* IE6-9 */
  color: #fff;
  border-radius: 7px;
  font-size: 19px;
  padding: 7px 10px 4px;
  position: absolute;
  left: calc(50% + 22px);
}
.facebook-login-text.after-login-text {
  margin-bottom: 0;
}
</style>
<div class="hvcenter pub_bg">
    <div class="pub_top_header pubhub_logo">
        <img src="images/pubhub_logo.png" alt="" />
    </div>
    <div class="middle_box">
        <div>
            <div class="icon_box">
                <div class="menu_icons">
                    <a href="#!/search"><img src="images/Search.png" /></a>
                    <p>search</p>
                </div>
            </div>
            <div class="icon_box">
                <div class="menu_icons">
                    <a href="#!/venues"><img src="images/Venues.png" /></a>
                    <p>venues</p>
                </div>
            </div>
            <div class="icon_box">
                <div class="menu_icons">
                    <a href="#!/todaysOffers"><img src="images/Information.png" /></a>
                    <p>cards</p>
                </div>
            </div>
        </div>
        <div class="cleardiv mb20"></div>
        <div>
            <div class="icon_box">
                <div class="menu_icons">
                    <a href="#!/offers"><img src="images/Offers.png" /></a>
                    <p>offers</p>
                </div>
            </div>
            <div class="icon_box">
                <div class="menu_icons">
                    <a href="#!/events"><img src="images/Events.png" /></a>
                    <p>events</p>
                </div>
            </div>
            <div class="icon_box">
                <div class="menu_icons">
                    <a href="#!/favourites"><img src="images/Saved.png" /></a>
                    <p>saved</p>
                </div>
            </div>
        </div>
    </div>
    <div class="pub_footer">
        <!--<div class="footer_pic">
            <a ng-click="login()"><img ng-src="{{facebookProfilePic}}" /></a>
            <a href="">
                <div class="facebook-login-left">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="facebook-login-right">
                    <p>Login with Facebook</p>
                </div>
            </a>
            <p>&nbsp</p>
        </div>-->

        <div class="footer_pic" ng-if="facebookProfilePic == ''">
            <div class="footer-facebook-login-wrapper" ng-click="login()">
              <div class="facebook-login-left">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="facebook-login-right">
                Login with Facebook
              </div>
            </div>

            <p class="facebook-login-text">Login to save your favourite venues,<br/>offers and events</p>
            <p>&nbsp</p>
        </div>
        <div class="footer_pic" ng-if="facebookProfilePic != ''">
            <!-- <a ng-click="login()"><img src="images/fb-icon.png" /></a> -->
            <div class="footer-facebook-login-wrapper">
                <div class="facebook-login-pic">
                    <img ng-src="{{facebookProfilePic}}" class="facebook-profile-pic" alt="">
                    <i class="fa fa-facebook after-login-facebook-icon"></i>
                </div>
            </div>

            <p class="facebook-login-text after-login-text">Welcome Back {{facebookProfileName}}!</p>
            <p>&nbsp</p>
        </div>
    </div>
</div>